.MainTitleMC {
    font-family: "Viaoda_Libre variant0", serif !important;
    font-style: normal !important;
    color: var(--color-title);
    text-align: center !important;
}

.boxTextTitleText {
    color: var(--color-title);
    text-align: left;
    font-family: "Esteban", serif !important;
    text-align: justify;
    text-indent: 20px !important;
    margin-top: 2% !important;
}

.boxTextTitle {
    color: var(--color-title);
    text-align: left;
    font-family: "Esteban", serif !important;
    text-align: center;
    margin-top: 2% !important;
}

.bigBoxTextGUIAMC {
    font-size: 18px !important;
    margin: 1% auto !important;
    font-family: "Esteban", serif !important;
    text-indent: 20px !important;
    text-align: justify;
}

.esteban {
    font-family: "Esteban", serif !important;
    font-size: 18px !important;
}

@media (max-width: 600px) {
    .MainTitleMC {
        font-size: 1.8rem !important;
    }
    .bigBoxTextGUIAMC {
        font-size: 15px !important;
        text-indent: 10px !important;
    }
    .boxTextTitleText {
        font-size: 1rem !important;
    }
    .boxTextTitle {
        font-size: 1.2rem !important;
    }
    .esteban {
        font-size: 15px !important;
    }
}