.boxText {
    color: #ffffff;
    text-align: left;
    font-size: 18px !important;
    width: 50%;
    font-family: "Esteban", serif !important;
}

.esteban {
    font-family: "Esteban", serif !important;
}

.MuiOutlinedInput-notchedOutline {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #756A34 !important;
    border-radius: 4px 0px 0px 4px !important;
}

.MuiButtonBase-root {
    font-size: 12px !important;
    border-radius: 0px 4px 4px 0px !important;
}