.MainTitle {
    font-family: "Viaoda_Libre variant0", serif !important;
    font-weight: 100 !important;
    font-style: normal !important;
    
}

.boxText{
    color: #ffffff;
    text-align: left;
    font-size: 18px !important;
    width: 50%;
    font-family: "Esteban", serif !important;
}
.bigBoxText{
    color: #ffffff;
    text-align: left;
    font-size: 18px !important;
    width: 60%;
    font-family: "Esteban", serif !important;
}